# DSIM
*.env
*.log
filelist_SV.txt
*.dpf
VHDL_SystemVerilog\

build/*
!build/clean.do
!build/compile.do
!build/modelsim.sh
!build/readme.md
!build/Makefile
*.bak
*.fst
*.vvp

# ignore WAVEFORM fst
src/tb/*.fst

#ignore personal markdown
todo.md
test/test_campaign.md

doc/*
!doc/*.pdf
!doc/*.drawio
!doc/*.md

# ignore qrun output
src/*.ini
src/qrun.out/*
src/rtl/qrun.out/*
src/rtl/work/*
src/rtl/*.ini

# ignore ref_casm.txt
script/ref_casm.txt